*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   
}

a{ text-decoration: none }

html{--text-color: #e6e6fa;
  --button-color: #333333;
  --text-button:  white;
  --hover-text: black;
  --boder-color:#07ffa5;
  
}

.caixa {
   text-align: center;
   width: 300px;
   margin: 60px auto;
}
html[data-theme=dark]{
   
  --button-color:#e9e3e3;
  --text-button:black;
  --hover-text: white;
   --boder-color:white;
}

body { 

  background-image: url(https://images.pexels.com/photos/1129253/pexels-photo-1129253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
   font-family: 'Roboto', sans-serif;
   background-size: cover;
   background-repeat: no-repeat;
   color:var(--text-color);
}



img.avatar { 
   border-radius: 50%;
   width: 125px;
   height: 125px;
   border: var(--boder-color) solid 4px;
   padding: 4px;
   
}
  
  h1{
   font-size:  32px;
   margin-top: 48px;
   margin-bottom: 8px;
}

.username{
   font-family: 'Roboto Mono', monospace;
   font-size: 18px;
   font-weight: 400;
   opacity: 0.8;

}


ul{ 
   list-style: none;
   margin: 48px 0px;
}


ul li a{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:var(--button-color);
  color: var(--text-button);
  font-size: 14px;
  border-radius: 6px;
  margin-bottom: 16px;
  transition:  background 400ms;
}
 /*333333 ,#08de8f */
 ul li a:hover { background-color: #08de8f;}
 ul li a:hover {color:var(--hover-text)}

footer{
 font-weight: 500;
 font-size: 12px;
 opacity: 0.6;
 transition: opacity 400ms;
}

footer:hover{opacity: 1;}

footer a{ color: var(--text-color); }

a{ text-decoration: none }

.custom-checkbox input,
.custom-radio input{
  display: none;
}

.custom-checkbox input + label:before {
  content: '';
  display:block;
  margin:0 145px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background-color: #08de8f;
  border: 1px solid transparent;
  margin-right: 8px;
  margin-bottom: 3px;
  cursor: help;
}

.custom-checkbox input:checked + label:before {

  background-color: #e9e3e3;
  border: none;
  padding: 1px;
}
