*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }

 .caixa {
    text-align: center;
    width: 300px;
    margin: 60px auto;
 }
 
 body { 

   background-image: url(https://images.pexels.com/photos/1129253/pexels-photo-1129253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    font-family: 'Roboto', sans-serif;
    background-size: cover;
 }

 
 
 img.avatar { 
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: #4263EB solid 4px;
    padding: 4px;
 }
   
   h1{
    color: #e6e6fa;
    font-size:  32px;
    margin-top: 48px;
    margin-bottom: 8px;
 }

 .username{
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    color: #e6e6fa;
 }


 ul{ 
    list-style: none;
    margin: 48px 0px;
 }


 ul li a{
   height: 53px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #4263EB;
   color: white;
   font-size: 14px;
   border-radius: 6px;
   margin-bottom: 16px;
   transition:  background 400ms;
 }
  
  ul li a:hover { background-color: #364fc7;}
  

 footer{
  font-weight: 500;
  font-size: 12px;
  color: #f0f8ff;
  opacity: 0.6;
  transition: opacity 400ms;
 }

 footer:hover{opacity: 1;}
 
 footer a{ color: #f0f8ff; }

 a{ text-decoration: none }